/*EXTRA SMALL*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

@media only screen and (min-width: 355px){
    #override h3.socialtext{
        font-size: 1rem;
    }
}

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: Chalkier;
    src: url(../fonts/Chalkier.ttf);
}

@font-face {
    font-family: CodeBold;
    src: url(../fonts/CODEBold.otf);
}

@font-face {
    font-family: CodeLight;
    src: url(../fonts/CODELight.otf);
}

section:before {
    height: 14vh;
    content: "";
    display:block;
}

#override{
    margin: 0px 0px 0px 0px;
}

#override h1{
    font-family: CodeBold;
    padding: 0.5%;
    text-align: center;
    margin: 2rem 1rem 1rem 2rem;
    border-style: solid;
    color: #050505;
    border-color: #050505;
    border-width: 0.1em 0em 0.1em 0em;
    font-size: 2.6rem;
}

#override h2{
    font-family: CodeBold;
    padding: 0.5%;
    text-align: center;
    margin: 0.5rem;
    color: #454545;
    font-size: 2.4rem;
}

#override h3{
    font-family: CodeBold;
    font-weight: lighter;
    padding: 0.5%;
    text-align: center;
    margin: 0.5rem;
    color: #050505;
    font-size: 2.4rem;
    display: inline;
    vertical-align: auto;
}

#override p{
    text-align: center;
    margin: 2rem;
    font-family: CodeBold;
    color: #050505;
    font-size: 1.2rem;
}

#override p.psubheading{
    font-size: 1.6rem;
    margin: 0.5rem;
    text-decoration: underline;
}

#override a{
    display: inline-block;
    text-align: center;
    margin: 0.5rem;
    font-family: CodeBold;
    color: #050505;
    font-size: 1.2rem;
    transition: 0.4s;
}

#override a.largelink{
    font-size: 1.5rem;
}

#override a:hover{
    color:#5A9E6D;
    text-decoration: underline;
}

.icon{
    width: 4rem;
    height: auto;
    vertical-align: middle;
    display: inline;
}

#social{
    text-align: center;
}

.socialsection{
    text-align: justify;
    vertical-align: middle;
    padding: 0 5% 0 5%;
    margin: 1% 0 1% 0;
}

#override h3.socialtext{
    font-size: 1.2rem;
    margin:0;
    padding:0;
    vertical-align: middle;
    text-align: left;
}

a #dejuklogo{
    width:100%;
    height: auto;
    transition: 0.4s;
}

#navchevron{
    opacity: 1;
    padding-top: 5%;
    transition: 0.4s;
}

#navlinkslarge{
    max-width: 100%;
    margin:0;
    padding:0;
}

#navbar{
    margin: 0px;
    padding-top: 25%;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    background-image: url(../img/navbarbg.png);
    background-size: 100%;
    transition: 0.4s;
    position: fixed;
    overflow: hidden;
    
    vertical-align: middle;
    text-align: center;
    border-bottom: #050505;
    border-style: solid;
    border: 0 0 0 0.4%;
}

#dejuklogo.minimized{
    height: 14vh;
    width: auto;
}

#navbar.minimized{
    height: 15vh;
    padding-top: 1%;
    text-align: center;
}

.whitespace{
    height: 20vh;
}

.imgparallax{
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 4% 0;
    text-align: center;
}

button.mercadopago-button{
    font-family: CodeBold;
    text-align: center;
    background-color: #5A9E6D;
    height: 8vh;
    width: 30vw;
    font-size: 1.2rem;
}

#img1 {
    background-image: url("../img/img1small.png");
}

#img2 {
    background-image: url("../img/img2.png");
}

#img3{
    max-height: 30vh;
    align-self: center;
}

#img4{
    background-image: url("../img/img4small.JPG");
}

#imgfooter{
    background-image: url("../img/navbarbg.png");
}

.carousel-img{
    width: 65vw;
}

#override .eco{
    color: #FFFFFF;
    border-color: #FFFFFF;
}

#override .section1text{
    color: #FFFFFF;
    border-color: #FFFFFF;
    
}

#override .parallaxtext{
    text-shadow: 0.1rem 0.1rem 0.2rem #050505;
}

@media only screen and (min-width: 400px){
#override h3.socialtext{
    font-size: 1.4rem;
}
}

/*SMALL*/

@media only screen and (min-width: 576px){

section:before {
    height: 17vh;
    content: "";
    display:block;
}

.imgparallax{
    padding: 1%;
}

#dejuklogo.minimized{
    height: 14vh;
    align-self: center;
}
}

@media only screen and (min-width: 690px) {
#override h3.socialtext{
    font-size: 2rem;
}

.icon{
    width: 5rem;
}

#img3{
    max-width: 100vw;
    align-self: center;
}
}

/*MEDIUM*/

@media only screen and (min-width: 768px) {

#override h1{
    margin: 2rem 12rem 2rem 12rem;
}

#dejuklogo{
    height: 50vh;
    width: auto;
    padding: 0.5%;
    margin: 0;
}

#navbar{
    padding: 1%;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    background-size: 100%;
    position: fixed;
    overflow: hidden;
    text-align: top;
    vertical-align: middle;
    text-align: center;
}

#navbar.minimized{
    height: 20vh;
    padding: 0.5%;
}

#dejuklogo.minimized{
    height: 10vh;
    width: auto;
    padding: 1%;
}

#override a{
    margin: 1%;
    font-size: 1.2rem;
}

.imgparallax{
    padding: 1%;
}

#img1 {
    background-image: url("../img/img1large.png");
    
}

#img2{

}

#img3{
    max-height: 40vh;
    align-self: center;
}

#img4{
    background-image: url("../img/img4large.jpg");
}

#override p.outertext{
    margin: 1% 5% 1% 5%;
}

}

@media only screen and (min-width: 780px) {
    #override h3.socialtext{
        font-size: 2.2rem;
    }

    .icon{
        width: 6rem;
    }
}

/*LARGE*/

@media only screen and (min-width: 992px) {

section:before {
    height: 20vh;
    content: "";
    display:block;
}

#override h1{
    margin: 2rem 20rem 2rem 20rem;
}

#dejuklogo.minimized{
    height: 10vh;
    width: auto;
    padding: 0;
}

#navbar.minimized{
    height: 20vh;
    padding: 0;
}

#override a{
    margin: 0;
    font-size: 1.4rem
}

#img3{
    max-height: 50vh;

}
}

@media only screen and (min-width: 1000px){
    #social{
        padding: 0 2% 0 2%;
    }
}

@media only screen and (min-width: 1120px){
.socialsection{
    padding: 0 10% 0 10%;
}
}

/*EXTRA LARGE*/

@media only screen and (min-width: 1200px){
    
#override a{
    margin: 0.5%;
    
}

#override a.largelink{
    font-size: 2rem;
}

.carousel-inner{
    width: 100vw;
    height: 60vh;
    width: auto;
}

}

@media only screen and (min-width: 1330px){
    #override p.outertext{
        margin: 1% 10% 1% 10%;
    }
}

@media only screen and (min-width: 1790px){
#override p.outertext{
    margin: 2rem 20rem 2rem 20rem;
}

#override p.outertext{
    margin: 1% 15% 1% 15%;
}

#social{
    padding: 0 5% 0 5%;
}

}